.idea
__pycache__
.venv
.ipynb_checkpoints
*.e57
*.pts
*.xyz
*.rcp
*.rcs
*.bk1
*.bk2
*.bk3
*.diff
*.llt
*.rcc
*.thumbnail
*.sgp
*.ribp
*.nrm
*.simg
*.png
*.rch
*.obj
*.mtl
main.ipynb
deprecated/
test.py